#txtModalRQM::-webkit-inner-spin-button, 
#txtModalRQM::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tituloPrincipal{
    font-size: medium;
    color: #7FB0DA;
    font-weight:bold;
    margin: 29px 10px 0 10px;
    display: block;
    float: left;
}

table.Fixed td:nth-child(1){
    width: 200px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

table.Fixed td:nth-child(2){
    width: 200px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

table.Fixed td:nth-child(3){
    width: 150px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

table.Fixed td:nth-child(4){
    width: 150px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
